styleGuide/.gitignore
styleGuide/components.json
styleGuide/next.config.mjs
styleGuide/package.json
styleGuide/pnpm-lock.yaml
styleGuide/postcss.config.mjs
styleGuide/tsconfig.json
styleGuide/voicetext-pro.zip
styleGuide/app/globals.css
styleGuide/app/layout.tsx
styleGuide/app/page.tsx
styleGuide/components/theme-provider.tsx
styleGuide/components/ui/accordion.tsx
styleGuide/components/ui/alert-dialog.tsx
styleGuide/components/ui/alert.tsx
styleGuide/components/ui/aspect-ratio.tsx
styleGuide/components/ui/avatar.tsx
styleGuide/components/ui/badge.tsx
styleGuide/components/ui/breadcrumb.tsx
styleGuide/components/ui/button.tsx
styleGuide/components/ui/calendar.tsx
styleGuide/components/ui/card.tsx
styleGuide/components/ui/carousel.tsx
styleGuide/components/ui/chart.tsx
styleGuide/components/ui/checkbox.tsx
styleGuide/components/ui/collapsible.tsx
styleGuide/components/ui/command.tsx
styleGuide/components/ui/context-menu.tsx
styleGuide/components/ui/dialog.tsx
styleGuide/components/ui/drawer.tsx
styleGuide/components/ui/dropdown-menu.tsx
styleGuide/components/ui/form.tsx
styleGuide/components/ui/hover-card.tsx
styleGuide/components/ui/input-otp.tsx
styleGuide/components/ui/input.tsx
styleGuide/components/ui/label.tsx
styleGuide/components/ui/menubar.tsx
styleGuide/components/ui/navigation-menu.tsx
styleGuide/components/ui/pagination.tsx
styleGuide/components/ui/popover.tsx
styleGuide/components/ui/progress.tsx
styleGuide/components/ui/radio-group.tsx
styleGuide/components/ui/resizable.tsx
styleGuide/components/ui/scroll-area.tsx
styleGuide/components/ui/select.tsx
styleGuide/components/ui/separator.tsx
styleGuide/components/ui/sheet.tsx
styleGuide/components/ui/sidebar.tsx
styleGuide/components/ui/skeleton.tsx
styleGuide/components/ui/slider.tsx
styleGuide/components/ui/sonner.tsx
styleGuide/components/ui/switch.tsx
styleGuide/components/ui/table.tsx
styleGuide/components/ui/tabs.tsx
styleGuide/components/ui/textarea.tsx
styleGuide/components/ui/toast.tsx
styleGuide/components/ui/toaster.tsx
styleGuide/components/ui/toggle-group.tsx
styleGuide/components/ui/toggle.tsx
styleGuide/components/ui/tooltip.tsx
styleGuide/components/ui/use-mobile.tsx
styleGuide/components/ui/use-toast.ts
styleGuide/hooks/use-mobile.ts
styleGuide/hooks/use-toast.ts
styleGuide/lib/utils.ts
styleGuide/public/placeholder-logo.png
styleGuide/public/placeholder-logo.svg
styleGuide/public/placeholder-user.jpg
styleGuide/public/placeholder.jpg
styleGuide/public/placeholder.svg
styleGuide/styles/globals.css
